.action-bar {
  display: block;
  position:relative;
  margin: 16px;
}
.action-bar--block-left {
  display:inline-block;
}
.action-bar--block-right {
  position:absolute;
  right: 0;
  display:inline-block;
 
}